.App {
	min-height: 100vh;
}

.layout {
	min-height: inherit !important;
}

.logo {
	color: #fff;
	font-size: 20px;
}

.searchBox {
    display: grid;
    margin: 0 20px;
    text-align: center;
}

.battle-list {
	margin: 10px 0;
}

.battle-meta .ant-card-meta-title {
	text-align: center;
	font-size: 20px;
	margin-bottom: 5px;
}

.card-body {
	padding: 10px 5px;
	min-height: 300px;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
}

.attacker,
.defender {
	border: 1px solid lightgrey;
	border-radius: 50%;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.war {
	display: flex;
	align-items: center;
	justify-content: center;
}

.win {
	border-color: limegreen;
	transition: all 1s linear;
}

.loose {
	border-color: red;
}

.attack-details {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.attacker-details,
.defender-details {
	display: flex;
	flex-direction: column;
}
